In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

seriesData = pd.Series([70, 60, 90])
seriesData

0    70
1    60
2    90
dtype: int64

In [3]:
import pandas as pd

df = pd.DataFrame({
    "미국": [2.1, 2.2, 2.3],
    "한국": [0.4, 0.4, 0.45],
    "중국": [10, 13, 15]
})

df

    미국    한국  중국
0  2.1  0.40  10
1  2.2  0.40  13
2  2.3  0.45  15

In [4]:
import pandas as pd

seriesData = pd.Series([70, 60, 90], index=["국어", "영어", "수학"])
seriesData

국어    70
영어    60
수학    90
dtype: int64

In [5]:
seriesData.index

Index(['국어', '영어', '수학'], dtype='object')

In [6]:
seriesData.index = ["미술", "음악", "체육"]

In [7]:
seriesData

미술    70
음악    60
체육    90
dtype: int64

In [8]:
seriesData.values

array([70, 60, 90])

In [12]:
print(seriesData["미술"], seriesData.iloc[0])
print(seriesData["음악"], seriesData.iloc[1])

70 70
60 60

In [13]:
seriesData["미술"] = 80

In [14]:
print(seriesData["미술"], seriesData.iloc[0])

80 80

In [15]:
del seriesData["미술"]

In [16]:
seriesData

음악    60
체육    90
dtype: int64

In [17]:
seriesData02 = pd.Series(["Dave", "David", "Alex"])
seriesData02

0     Dave
1    David
2     Alex
dtype: object

In [18]:
seriesData03 = pd.Series(["Dave", "David", 7])
seriesData03

0     Dave
1    David
2        7
dtype: object

In [19]:
seriesData04 = pd.Series([1, 1, 1])
seriesData04

0    1
1    1
2    1
dtype: int64

In [20]:
seriesData04.astype("float")

0    1.0
1    1.0
2    1.0
dtype: float64

In [22]:
seriesData05 = pd.Series([18446744073709551620, 800, 4000])
seriesData05

0    18446744073709551620
1                     800
2                    4000
dtype: object

In [23]:
seriesData06 = pd.Series([18446744073709551626, 800, 4000])
seriesData06

0    18446744073709551626
1                     800
2                    4000
dtype: object

In [24]:
seriesData07 = pd.Series([True, False, True])
seriesData07

0     True
1    False
2     True
dtype: bool

In [25]:
seriesData08 = pd.Series(["David", 1, 2])
seriesData08

0    David
1        1
2        2
dtype: object

In [26]:
seriesData08.astype("float")

ValueError: could not convert string to float: 'David'